.footer
  align-items: center
  background-color: $color-dark
  display: flex
  flex-direction: column
  padding-bottom: $m-sm
  row-gap: $m-sm

  &__text
    order: 1
    text-align: center

    &-copyright
      color: $color-white
      font-family: $font-family-header
      font-size: $font-size-xs
      padding-inline: $m-xs

    &-modal
      border-left: 1px solid $color-white
      color: $color-white
      cursor: pointer
      display: inline
      font-family: $font-family-header
      font-size: $font-size-xs
      padding-inline: $m-xs
      text-decoration: underline

    &-link
      border-left: 1px solid $color-white
      color: $color-white
      font-family: $font-family-header
      font-size: $font-size-xs
      padding-inline: $m-xs

  &__social
    column-gap: $m-sm
    display: flex

    &-icon
      height: $icon-size-lg
