.agenda {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: calc($m-2xl + $m-base) auto;
  max-width: 1200px;
  scroll-margin-top: 112px;

  &__live {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 79px;
    width: 100%;
    border-top: 1px solid white;

    z-index: 40;

    &-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 80px;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      -webkit-backdrop-filter: blur(4.5px);
      border-bottom: 1px solid rgba(78, 78, 78, 0.6);
      button {
        opacity: 0.5;
      }
      &--number {
        padding: 0 $m-lg;
        text-align: center;
        color: $color-white;
        font-size: $font-size-base;
        font-family: $font-family-header;
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(sm) {
          font-size: $font-size-xl;
        }
        @include media-breakpoint-up(lg) {
          font-size: $font-size-2xl;
        }
      }
    }

    &-voted {
      text-align: center;
      font-family: $font-family-body;
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
      &-subtitle {
        font-size: $font-size-lg;
        font-family: $font-family-header;
      }
    }

    &-modal {
      min-width: 95vw;
      overflow-y: auto;
      @include media-breakpoint-up(sm) {
        min-width: 90vw;
      }
      @include media-breakpoint-up(md) {
        min-width: 70vw;
      }
      @include media-breakpoint-up(lg) {
        min-width: 60vw;
      }
      @include media-breakpoint-up(xl) {
        min-width: 40vw;
      }

      &--title {
        margin: 0 0 $m-xs 0;
        max-width: 95%;
        padding: 0;
        color: $color-text;
        font-family: $font-family-body;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        &.margin-right {
          margin-right: 40px;
        }
      }
      &--description {
        font-weight: $font-weight-regular;
      }
    }
    &-header {
      margin: 0;
      padding: 0;
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-medium;
    }
    &-input {
      max-width: 100%;
      min-width: 85%;
      padding: 10px;
      background-color: rgba(25, 69, 80, 0.05);
      border: none;
      border-radius: 4px;
      color: $color-text;
      display: block;
      font-family: $font-family-body;
      font-size: $font-size-base-xs;
      font-weight: 500;
      outline: none;
      overflow: hidden;
      padding: 12px 1rem;
      @include media-breakpoint-up(lg) {
        max-width: 80%;
        min-width: 60%;
      }
      &--error {
        color: red;
      }
      &--label {
        margin: $m-sm 0;
        text-align: center;
        color: $color-text;
        font-family: $font-family-body;
        font-size: $font-size-base-xs;
        font-weight: $font-weight-regular;
        @include media-breakpoint-up(lg) {
          max-width: 70%;
          min-width: 60%;
        }
      }
    }
    &-button {
      margin: $m-sm 0;
      color: $color-dark;
      padding: $m-sm;
      background-color: $color-secondary;
      text-decoration: none;
      font-size: $font-size-base-xs;
      font-weight: $font-weight-extra-bold;
      border: none;
      border-radius: $border-radius-xs;
      transition: box-shadow $transition-function 0.2s;
      letter-spacing: 0.04em;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 8px $color-secondary;
      }

      &:visited {
        color: $color-dark;
      }
    }

    &-rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-family: $font-family-body;
        font-size: $font-size-base-xs;
        font-weight: $font-weight-medium;
      }
      &-error,
      &-error--name {
        padding: 0;
        margin: 0;
        font-family: $font-family-body;
        font-size: $font-size-xl;
        font-weight: $font-weight-semi-bold;
        line-height: $m-sm;
        color: red;
        &--name {
          font-size: $font-size-sm;
        }
      }
      &-title,
      &-subtitle {
        text-align: center;
        margin: $m-base 0 0;
        padding: 0;
      }
      &-title {
        line-height: $m-lg;
      }
      &-subtitle {
        margin: 0;
      }
      &-controler {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $m-base;
      }
    }

    &-controler {
      display: flex;
      min-height: 90px;
      width: 100vw;
    }
    &-description {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;

      transition: background-color 0.2s ease-in-out;
    }
    &-title,
    &-lecturer {
      color: $color-white;
      font-family: $font-family-body;
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
    }

    &-title {
      font-weight: $font-weight-regular;
      line-height: $line-height-md;
    }
    &-vote {
      display: flex;
      justify-content: center;
      &--button {
        border: none;
        color: $color-dark;
        background-color: $color-secondary;
        text-decoration: none;
        font-size: $font-size-base-xs;
        font-weight: $font-weight-extra-bold;
        transition: box-shadow $transition-function 0.2s;
        letter-spacing: 0.04em;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 8px $color-secondary;
        }

        &:visited {
          color: $color-dark;
        }
      }
    }

    &-primary {
      background-color: $color-primary;
      cursor: pointer;
      width: 100%;
    }
    &-primary:hover {
      background-color: $color-success;
    }

    &-secondary {
      background-color: $color-tertiary;
      width: 100%;
    }

    &-dark {
      background-color: $color-dark;
      width: 100%;
    }
  }

  &__header {
    margin-bottom: $m-lg;
    text-align: center;

    &-title {
      color: $color-dark;
      font-family: $font-family-header;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      line-height: $line-height-base;
    }

    &-subtitle {
      color: $color-dark;
      font-family: $font-family-header;
      font-size: $font-size-lg;
      font-weight: $font-weight-regular;
    }

    @include media-breakpoint-up(md) {
      margin: 0 0 $m-lg 104px;
    }
  }

  &__rooms {
    @include dashedBorder(false, top, $color-black);

    align-items: center;
    color: $color-text;
    display: flex;
    font-family: $font-family-header;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    height: 72px;
    text-align: center;

    &-main,
    &-second {
      display: flex;
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      position: relative;

      &::after {
        content: '';
        height: 30px;
        position: absolute;
        right: -$m-sm;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
      }
    }

    &-main {
      &::after {
        background-color: $color-secondary;
      }
    }

    &-second {
      &::after {
        background-color: $color-dark;
      }
    }

    &-inner {
      display: flex;
      gap: $m-base;
      margin-left: $m-xs;
      width: 100%;

      span {
        color: $color-text;
        font-family: $font-family-header;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        width: 100%;
      }
    }

    &-hour {
      align-self: flex-start;
      background-color: $color-secondary;
      box-sizing: border-box;
      position: relative;
      min-height: 80px;
      min-width: 72px;

      &::before {
        @include dashedBorder(false, top, $color-black);

        content: '';
        height: 1px;
        position: absolute;
        right: -$m-xs;
        top: 0;
        width: 90%;
      }

      @include media-breakpoint-up(md) {
        min-height: 72px;
        min-width: 96px;
        padding: $m-xs 0 0 16px;
      }
    }

    &.-first {
      background: none;
      justify-content: space-around;
      margin-left: 104px;
      width: calc(100% - 104px);
    }

    &.-desktop {
      display: none;
    }

    &.-mobile {
      margin-left: 0;
      margin-bottom: $m-sm;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      &.-desktop {
        display: flex;
      }
      &.-mobile {
        display: none;
      }
    }
  }

  &__lectures {
    @include dashedBorder(false, bottom, $color-black);

    width: 100%;
    position: relative;

    &::before,
    &::after {
      background-color: $color-secondary;
      content: '';
      height: $m-xs;
      left: 0;
      position: absolute;
      width: 72px;
    }

    &::before {
      top: -$m-xs;
    }

    &::after {
      bottom: -$m-xs;
    }

    .agenda__lecture-wrapper:last-child > .agenda__lecture-hour {
      &::after {
        @include dashedBorder(false, bottom, $color-black);

        background-color: unset;
      }
    }

    @include media-breakpoint-up(md) {
      &::before,
      &::after {
        width: 96px;
      }
    }
  }

  &__lecture {
    height: 100%;
    position: relative;
    width: 100%;
    transition: filter 0.1s ease-in-out;

    &:not(:first-of-type) {
      .agenda__lecture-content {
        @include dashedBorder(false, top, $color-white);

        @include media-breakpoint-up(md) {
          background-image: none;
        }
      }
    }

    &.-main,
    &.-second {
      &::after {
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: $m-xs;
      }
    }

    &.-main {
      &::after {
        background-color: #f8c83e;
      }
    }

    &.-second {
      &::after {
        background-color: #1d4550;
      }
    }

    @include media-breakpoint-up(md) {
      &:hover {
        .agenda__lecture-content {
          &.-primary {
            background-color: #2d8252;

            .agenda__lecture-title {
              font-weight: $font-weight-extra-bold;
            }

            .agenda__lecture-subtitle {
              font-weight: $font-weight-semi-bold;
            }
          }
        }
      }

      &.-main,
      &.-second {
        &::after {
          display: none;
        }
      }

      &-subtitle {
        &::after {
          color: $color-white;
          content: '-';
          font-family: $font-family-body;
          font-size: $font-size-base;
          font-weight: $font-weight-medium;
          position: absolute;
          right: calc($m-xs * -1.5);
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &-wrapper {
      display: flex;
      width: 100%;
    }

    &-hour {
      background-color: $color-secondary;
      box-sizing: border-box;
      color: $color-text;
      display: flex;
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      min-height: 70px;
      min-width: 72px;
      padding: $m-xs 0 0 12px;
      position: relative;

      &::before {
        @include dashedBorder(false, top, $color-black);

        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        width: 90%;
      }

      @include media-breakpoint-up(md) {
        min-height: 80px;
        min-width: 96px;
        padding: $m-xs 0 0 16px;

        &::after {
          background-color: $color-background;
          bottom: 0;
          content: '';
          height: $m-xs;
          position: absolute;
          width: 90%;
        }
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      margin: 0 0 $m-xs $m-xs;
      min-height: 62px;
      position: relative;
      width: 100%;

      &::before {
        @include dashedBorder(false, top, $color-black);

        content: '';
        height: 1px;
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% + $m-xs);
        z-index: 1;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: $m-base;
      }
    }

    &-content {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $m-xs;
      height: 100%;
      justify-content: center;
      padding: $m-sm $m-xs;
      width: 100%;
      transition: background-color 0.1s ease-in-out;

      &.-primary {
        background-color: $color-primary;
        cursor: pointer;
      }

      &.-secondary {
        background-color: $color-tertiary;
      }

      &.-dark {
        background-color: $color-dark;
      }

      &.-row {
        flex-direction: row;
        gap: $m-sm;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: $m-xs $m-sm;
      }
    }

    &-title,
    &-subtitle {
      color: $color-white;
      font-family: $font-family-body;
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
      text-align: center;
      transition: font-weight 0.1s ease-in-out;
    }

    &-subtitle {
      font-weight: $font-weight-regular;
      line-height: $line-height-md;
      position: relative;
      transition: font-weight 0.1s ease-in-out;
    }

    &-logo {
      display: block;
      img {
        display: flex;
        margin: auto;
      }
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-close {
      align-self: flex-end;
      background: none;
      border: none;
      border-left: 1px solid $color-dark;
      border-bottom: 1px solid $color-dark;
      cursor: pointer;
      height: 50px;
      margin: 2px 2px 0 0;
      outline: none;
      padding: 0;
      width: 50px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba($color-background, 0.9);
      z-index: 5;
      color: $color-dark;
    }
  }
}
