.event-details {
  .hero {
    margin: 0;
    padding: 0;
    position: relative;
    &-gray {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50vh;
      background-color: rgb(0, 0, 0);
      opacity: 0.5;
    }

    &-image {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }

    &-content {
      position: absolute;
      margin: 0 $m-base;
      text-align: center;
      color: $color-white;

      h1 {
        font-family: $font-face-header;
        font-size: $font-size-3xl;
        margin: 35px 0;
      }

      h2 {
        font-family: $font-face-header;
        font-size: $font-size-xl;
        margin: 35px 0;
      }
    }
  }

  .controler {
    margin: 0;
    padding: 0;

    &-description {
      position: relative;
      margin: auto;
      padding: $m-sm;
      text-align: justify;
      max-width: 1120px;
      @include media-breakpoint-up(md) {
        padding: $m-lg;
      }

      &-image {
        min-width: 300px;
        max-width: 33%;
        display: block;

        &--right {
          min-width: 95%;
          margin: auto;
          @include media-breakpoint-up(md) {
            min-width: 300px;
            margin: 20px 0 8px 32px;
            float: right;
          }
        }
        &--left {
          min-width: 95%;
          margin: auto;
          @include media-breakpoint-up(md) {
            min-width: 300px;
            margin: 20px 32px 8px 0;
            float: left;
          }
        }
      }

      p {
        font-family: $font-face-body;
        font-size: $font-size-base;
        line-height: $line-height-md;
      }

      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    &-info {
      display: flex;
      margin: 0;
      padding: $m-base 0;
      background-color: $color-secondary;
      @include media-breakpoint-up(xl) {
        padding: $m-base $m-2xl * 3;
      }
      @include media-breakpoint-up(2xl) {
        padding: $m-base $m-2xl * 5;
      }
      p {
        margin: auto;
        text-align: center;
        font-size: $font-size-xl;
        font-family: $font-family-body;
        font-weight: $font-weight-bold;
        color: $color-dark;

        @include media-breakpoint-up(md) {
          padding: $m-base 0;
          font-size: $font-size-2xl;
        }
      }
    }
  }
}
