.footer {
  background-color: $color-primary;
  display: flex;
  justify-content: center; 
  padding: $m-sm 0;
  column-gap: $m-sm;
  text-align: center;

  &__social-icon {
    height: $icon-size-lg;
  }

  @media only screen and (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}
