.footer {
  display: none;
  
  @media only screen and(min-width: map-get($grid-breakpoints, xl)) {
    background-color: $color-primary;
    display: flex;
    justify-content: center; 
    padding: $m-sm 0;
    column-gap: $m-sm;
    text-align: center;

    &__social-icon {
      height: $icon-size-lg;
    }
  }
}
