.footer {
  background-color: $color-primary;
  display: block;
  padding: $m-xs;
  text-align: center;

  &__social-icon {
    height: $icon-size-lg;
  }

  @media only screen and (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}
