.gallery {
    margin: $m-2xl 0;
    position: relative;

    &__heading {
        color: $color-dark;
        font-family: $font-family-body;
        font-weight: $font-weight-medium;
        margin-bottom: $m-base;
        text-align: center;
    }

    &__wrapper {
        position: relative;
    }

    .swiper-slide {
        height: unset;
    }

    &__slide {
        transition: opacity $transition-duration $transition-function;

        &-image {
            width: 100%;
            object-fit: cover;
            object-position: center;
            user-select: none;
            min-height: 300px;
        }
    }

    &__navigation-buttons {
      display: flex;
      justify-content: center;
      margin-top: 56px;

      .gallery-see-more {
        display: inline-block;
        color: $color-dark;
        padding: $m-sm;
        background-color: $color-secondary;
        text-decoration: none;
        font-size: $font-size-base-xs;
        font-weight: $font-weight-extra-bold;
        border-radius: $border-radius-xs;
        transition: box-shadow $transition-function .2s;
        letter-spacing: 0.04em;

        &:hover {
          box-shadow: 0 0 8px $color-secondary;
        }

        &:visited {
          color: $color-dark;
        }
      }

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        margin-top: 80px;
      }
    }

    &__navigation-control_buttons {
        display: none;

        &-mobile {
            #gallery-next-slide,
            #gallery-prev-slide {
                position: absolute;
                top: 50%;
                z-index: 1;
            }

            #gallery-next-slide {
                right: 5%;
                transform: translateY(-50%) scale(1.5);

                @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
                    right: 3%;
                }
            }

            #gallery-prev-slide {
                left: 5%;
                transform: translateY(-50%) scale(1.5);

                @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
                    left: 3%;
                }
            }
        }
    }

    @media only screen and (min-width: map-get($grid-breakpoints, xl)) {
        margin: $m-2xl $m-lg;

        &__navigation-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: $m-base;
        }

        &__navigation-control_buttons {
            display: flex;
            justify-content: space;
            text-align: right;
            gap: $m-xs;

            &-mobile {
              display: none;
            }

            #gallery-next-slide,
            #gallery-prev-slide {
                background-color: $color-secondary;
                align-items: center;
                border-radius: $border-radius-xs;
                cursor: pointer;
                display: flex;
                justify-content: center;
                padding: $m-sm $m-base;
                text-align: center;
                width: $icon-size-xs;
                height: unset;
                border: 1px solid $color-secondary;
                transition: box-shadow $transition-function .2s;

                &:hover {
                  box-shadow: 0 0 8px $color-secondary;
                }
            }

            #gallery-prev-slide {
                border-right: 0;
            }
        }
    }

    @media only screen and (max-width: map-get($grid-breakpoints, lg)) {
        &__slide:not(.swiper-slide-active) {
            &::before {
                content: "";
                background: $color-dark;
                opacity: .6;
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all $transition-duration $transition-function;
            }
        }
    }
}
