.gallery {
    &__heading {
        font-family: $font-face-body;
        font-weight: $font-weight-regular;
        margin: $m-2xl 0 $m-lg 0;
        text-align: center;
    }

    .swiper-slide{
        height: unset;
    }
    
    &__slide {
        transition: opacity $transition-duration $transition-function;

        &-image {
            height: 100%;
            object-fit: cover;
            user-select: none;
            width: 100%;
        }
    }

    &__navigation-buttons {
        display: none;
    }
    
    @media only screen and (min-width: map-get($grid-breakpoints, lg)){
        margin: 0 $m-lg;   

        &__navigation-buttons {
            display: flex;
            justify-content: flex-end;
            margin: $m-base $m-2xl $m-2xl 0;
            text-align: right;
    
            #gallery-next-slide, #gallery-prev-slide {
                align-items: center;
                border: 2px solid $color-text;
                border-radius: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                padding: $m-xs*1.2 $m-sm;
                text-align: center;
                width: $icon-size-xs;
            }
            
            #gallery-prev-slide {
                border-right: 0;
            }
        }
    }

    @media only screen and (max-width: map-get($grid-breakpoints, lg)){
        &__slide:not(.swiper-slide-active){
            opacity: 0.4;
            transition: opacity $transition-duration $transition-function;
        }
    }
}
