.gallery {
    margin: $m-2xl 0;
    position: relative;

    &__heading {
        font-family: $font-face-body;
        font-weight: $font-weight-semi-bold;
        margin-bottom: $m-base;
        text-align: center;
    }

    .swiper-slide{
        height: unset;
    }
    
    &__slide {
        transition: opacity $transition-duration $transition-function;

        &-image {
            height: 100%;
            object-fit: cover;
            user-select: none;
            width: 100%;
        }
    }

    &__navigation-buttons {
        display: none;

        &-mobile {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            z-index: 1;
            width: 100%;
        }
    }

    #gallery-next-slide, #gallery-prev-slide {
        background-color: blue;
        width: 13.5%;
        height: $icon-size-xl * 1.5;

        @media only screen and (max-width: map-get($grid-breakpoints, md)) {
            height: $icon-size-xl;
        }
        @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
            height: $icon-size-lg;
        }
    }
    
    @media only screen and (min-width: map-get($grid-breakpoints, lg)){
        margin: 0 $m-lg;   

        &__navigation-buttons {
            display: flex;
            justify-content: flex-end;
            margin: $m-base $m-2xl $m-2xl 0;
            text-align: right;

            &-mobile {
                display: none;
            }
    
            #gallery-next-slide, #gallery-prev-slide {
                align-items: center;
                border: 2px solid $color-text;
                border-radius: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                padding: $m-xs*1.2 $m-sm;
                text-align: center;
                width: $icon-size-sm;
                height: unset;
            }
            
            #gallery-prev-slide {
                border-right: 0;
            }
        }
    }

    @media only screen and (max-width: map-get($grid-breakpoints, lg)){
        &__slide:not(.swiper-slide-active){
            opacity: 0.4;
            transition: opacity $transition-duration $transition-function;
        }
    }
}
