// Desktop header styling

.header-desktop {
  align-items: center;
  box-sizing: border-box;
  color: $color-white;
  display: none;
  font-family: $font-family-body;
  font-size: $font-size-base-xs;
  font-weight: $font-weight-extra-bold;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  transition: background-color $transition-duration $transition-function;
  width: 100%;
  height: 80px;
  z-index: $z-base;
  background-color: $color-primary;

  &.-colored {
    background-color: $color-primary;
  }

  &__logo-wrapper {
    height: $icon-size-md;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
  }
  
  &__link {
    color: $color-white;
    text-decoration: none;
    letter-spacing: .5px;
    position: relative;
    text-align: center;

    &.-active {
      font-weight: $font-weight-bold;

      &::before {
        position: absolute;
        content: '';
        top: -$m-md;
        width: 100%;
        height: 4px;
        background-color: rgba($color-white, 0.8);
      }
    }

    &.-special {
      @include special-button;
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;
  }
}

// Mobile header styling

.header-mobile {
  align-items: center;
  background-color: $color-primary;
  box-sizing: border-box;
  color: $color-white;
  display: flex;
  flex-direction: column;
  font-family: $font-family-body;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  justify-content: space-between;
  padding: 20px $m-base;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $z-base;

  &__logo {
    height: $icon-size-md;
    
    &-wrapper {
      height: $icon-size-md;
    }
  }

  &__hamburger-icon {
    height: $icon-size-md;
  }

  &__social-icon {
    height: $icon-size-lg;
  }

  &__top-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    overscroll-behavior: contain;
    width: 100%;
  }

  &__menu {
    display: none;
  }

  &.-hamburger-open {
    background: $color-primary url(/images/header-background.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 20px $m-base;
    width: 100vw;
    z-index: $z-base;

    .header-mobile {
      &__menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        margin-top: $m-lg;
        width: 100%;
      }

      &__nav {
        display: flex;
        flex-direction: column;
        font-size: $font-size-xl;
        font-weight: 800;
        gap: $m-base;
        text-align: center;
      }

      &__link {
        color: $color-white;
        text-decoration: none;
      }

      &__link:visited {
        color: $color-white;
      }

      &__contact-button {
        background-color: $color-white;
        border: 2px solid $color-white;
        border-radius: $border-radius-xs;
        color: $color-primary;
        font-weight: $font-weight-bold;
        text-decoration: none;
        transition: box-shadow $transition-function 0.2s;
        padding: $m-sm;

        &:hover {
          box-shadow: 0 0 8px $color-white;
        }

        &:active {
          background-color: $color-neutral-300;
          border-color: $color-neutral-300;
        }
      }

      &__socials {
        display: flex;
        gap: $m-sm;
      }
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    &__logo,
    &__hamburger-icon {
      height: $icon-size-md;
    }

    &__social-icon {
      height: $icon-size-xl;
    }

    &.-hamburger-open {
      .header-mobile {
        &__nav {
          font-size: $font-size-3xl;
        }

        &__contact-button {
          font-size: $font-size-xl;
        }
      }
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
    padding: 20px 40px;

    &.-hamburger-open {
      padding: 20px 40px;
    }
  }
}
