.image {
    width: 100%;
    min-height: calc($card-height / 1.35);
    max-height: calc($card-height / 1.35);

    object-fit: cover;
    object-position: center;

    border-radius: $border-radius-base;

    &-empty {
        border-radius: $border-radius-base;
        min-height: calc($card-height / 1.35);
        background-color: rgba($color-primary, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
    }
}
