$rules-padding-base: calc($m-xl + $m-xs);
$rules-padding-lg: $rules-padding-base * 2;

.layout{
    background-color: $color-background;
}

.cookies {
    align-items: center !important;
    opacity: 0.9;

    &__text {
    color: $color-white;
      font-family: $font-family-header;
      font-size: $font-size-sm;
      padding-right: $m-xs;

        &-link {
            color: $color-white;
            cursor: pointer;
            font-family: $font-family-header;
            font-size: $font-size-sm;
        }

        &-modal {
            border-left: 1px solid $color-white;
            color: $color-white;
            cursor: pointer;
            display: inline;
            font-family: $font-family-header;
            font-size: $font-size-sm;
            padding-inline: $m-xs;
            text-decoration: underline;
        }
    }

    &__button {
        background-color: $color-secondary !important;
        border-radius: $border-radius-xs !important;
        color: $color-text !important;
        font-family: $font-family-header;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        padding: $m-sm !important;
        text-decoration: none;
        transition: box-shadow $transition-function .2s;

        &:hover {
            box-shadow: 0 0 8px $color-secondary !important;
        }

        &:active {
            background-color: $color-active !important;
        }
    }
}

.rules {
    padding: $rules-padding-base $rules-padding-lg $rules-padding-base;
    min-height: calc(100vh - 2 * ($m-2xl + $m-sm));

    h1, h2, h3, h4, h5, h6, li, p, a {
        font-family: Calibri, sans-serif;
        color: $color-dark;
    }

    a {
        color: $color-link;
    }
    
    @include media-breakpoint-up(xl) {
        padding: $rules-padding-lg $rules-padding-lg $rules-padding-base;
    }
}
