.lecture-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-close {
      align-self: flex-end;
      width: 50px;
      height: 50px;
      margin: 2px 2px 0 0;
      padding: 0;
      border: none;
      border-left: 1px solid $color-dark;
      border-bottom: 1px solid $color-dark;
      background: none;
      cursor: pointer;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $m-md $m-xl;
    margin-bottom: $m-xl;
    box-sizing: border-box;
  }

  &__header {
    margin-bottom: $m-md;
    display: flex;
    flex-direction: column;
    gap: $m-sm;
    
    &-text {
      color: rgba($color-dark, 0.6);
      font-family: $font-family-header;
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-lg;
      display: flex;
      gap: 12px;
      justify-content: start;
      align-items: center;
    }
  }

  &__title {
    font-family: $font-family-body;
    font-weight: $font-weight-extra-bold;
    font-size: $font-size-xl;
    margin-bottom: $m-base;
    color: $color-dark;
    word-break: break-word;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 80px;
      width: $m-sm;
      top: 0;
      left: -$m-md;
      background-color: $color-primary;
    }

  }
  
  &__explanation {
    font-family: $font-family-body;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    margin-bottom: $m-lg;
    color: $color-dark;
  }

  &__share {
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: $m-base;

    &-text {
      font-family: $font-family-body;
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-base;
      color: $color-dark;
    }
  }

  &__copy {
    
    &-input {
      display: none;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $m-xs;
      border: none;
      border-radius: 4px;
      background-color: $color-secondary;
      padding: 12px $m-base;
      font-family: $font-family-body;
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-base-xs;
    }
  }

  &__speaker {
    height: 175px;
    width: 100%;
    position: relative;
    background-color: $color-primary;

    .image {
      position: absolute;
      height: 250px;
      max-height: 280px;
      width: auto;
      right: 0;
      bottom: 0;

      &.-placeholder {
          right: -30px;
          bottom: 15px;
      }
    }

    &-socials {
      z-index: 1;
      position: absolute;
      top: -60px;
      left: $m-base;
      display: flex;
      gap: $m-xs;
    }

    &-link {
      .lecture-details__speaker-twitter {
        path {
          stroke: $color-dark;
        
          &:nth-last-of-type(1) {
            fill: $color-dark;
          }
        }
      }

      .lecture-details__speaker-linkedin {
        path {
          stroke: $color-dark;
  
          &:nth-last-of-type(2) {
            fill: $color-dark;
          }
        }
      }

      .lecture-details__speaker-linktr {
        path {
          &:first-of-type {
            stroke: $color-dark;
          }
          
          &:last-of-type {
            fill: $color-dark;
          }
        }
      }
    }

    &-info {
      position: absolute;
      inset: auto 0 0;
      background: linear-gradient(360deg, rgba(25, 69, 80, 0.8) 0%, rgba(25, 69, 80, 0) 100%);
      padding: $m-base;
      color: $color-white;
      letter-spacing: 0.75px;
      font-weight: $font-weight-extra-bold;
      display: flex;
      flex-direction: column;
      gap: $m-xs;
    }
    
    &-name {
      font-family: $font-family-header;
      font-size: $font-size-xl;
    }
    
    &-position {
      font-family: $font-family-body;
      font-size: $font-size-base;
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: $m-xs;
    gap: $m-xs;
  }

  &__prev, &__next {
    background: none;
    border: none;
    width: calc(100% - $m-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $m-base;
    cursor: pointer;
    box-sizing: border-box;
    padding: $m-xs 0;

    &-text {
      width: fit-content;
      text-align: left;
      position: relative;
    }

    .-left {
      position: absolute;
      top: 50%;
      left: -$m-lg;
      transform: translateY(-50%);
    }
    
    .-right {
      position: absolute;
      top: 50%;
      right: -$m-lg;
      transform: translateY(-50%) rotateZ(180deg);
    }
    
    &-direction {
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
      color: rgba($color-dark, 0.7);
      
      &::after {
        content: '\a';
        white-space: pre;
      }
    }
    
    &-name {
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-extra-bold;
      color: $color-dark;
    }
  }

  &__prev {
    border: 1px solid $color-dark;
    border-right: none;
  }
  
  &__next {
    border: 1px solid $color-dark;
    border-left: none;
  }
}
