.lecture-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding: $m-xl $m-lg 0;
    align-items: start;
  }

  &__button {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-close {
      align-self: flex-end;
      width: 50px;
      height: 50px;
      margin: 2px 2px 0 0;
      padding: 0;
      border: none;
      border-left: 1px solid $color-dark;
      border-bottom: 1px solid $color-dark;
      background: none;
      cursor: pointer;
      
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $m-md $m-xl;
    margin-bottom: $m-xl;
    box-sizing: border-box;

    @include media-breakpoint-up(md) {
      max-width: 60%;
    }

    &-speaker {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        color: $color-dark;
        font-weight: $font-weight-extra-bold;
        position: relative;
        margin-bottom: $m-xl;

        &.-primary {
          &::before {
            background-color: $color-primary;
          }
        }
    
        &.-secondary {
          &::before {
            background-color: #f9ca3e;
          }
        }
    
        &.-tertiary {
          &::before {
            background-color: #f2933b;
          }
        }

        &::before {
          position: absolute;
          content: "";
          width: $m-sm;
          height: 80px;
          top: 0;
          left: -$m-xl - $m-xs;
        }
      }
    }
  }

  &__header {
    margin-bottom: $m-md;
    display: flex;
    flex-direction: column;
    gap: $m-sm;

    @include media-breakpoint-up(md) {
      display: none;
    }
    
    &-text {
      color: rgba($color-dark, 0.6);
      font-family: $font-family-header;
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-lg;
      display: flex;
      gap: 12px;
      justify-content: start;
      align-items: center;
    }

    &.-desktop {
      display: none;

      @include media-breakpoint-up(md) {
        display: flex;
        margin-bottom: $m-xl;
      }
    }
  }

  &__title {
    font-family: $font-family-body;
    font-weight: $font-weight-extra-bold;
    font-size: $font-size-xl;
    margin-bottom: $m-base;
    color: $color-dark;
    word-break: break-word;
    position: relative;

    &.-primary {
      &::before {
        background-color: $color-primary;
      }
    }

    &.-secondary {
      &::before {
        background-color: #f9ca3e;
      }
    }

    &.-tertiary {
      &::before {
        background-color: #f2933b;
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 80px;
      width: $m-sm;
      top: 0;
      left: -$m-md;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  
  &__explanation {
    font-family: $font-family-body;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    margin-bottom: $m-lg;
    color: $color-dark;
  }

  &__share {
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: $m-base;
    z-index: 1;

    @include media-breakpoint-up(md) {
      width: 100%;
    }

    &-text {
      font-family: $font-family-body;
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-base;
      color: $color-dark;
    }
  }

  &__copy {

    @include media-breakpoint-up(md) {
      display: flex;
      width: 100%;
    }
    
    &-input {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        background-color: rgba(25, 69, 80, 0.05);
        border: none;
        border-radius: 4px 0 0 4px;
        width: 50%;
        padding: 12px $m-base;
        overflow: hidden;
        outline: none;
        font-family: $font-family-body;
        font-weight: $font-weight-medium;
        font-size: $font-size-base-xs;
        color: rgba($color-dark, 0.8)
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $m-xs;
      border: none;
      border-radius: 0 4px 4px 0;
      background-color: $color-secondary;
      padding: 12px $m-base;
      font-family: $font-family-body;
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-base-xs;
      cursor: pointer;
    }
  }

  &__speaker {
    height: 175px;
    width: 100%;
    position: relative;

    &.-primary {
      background-color: $color-primary;
    }

    &.-secondary {
      background-color: #f9ca3e;
    }

    &.-tertiary {
      background-color: #f2933b;
    }

    @include media-breakpoint-up(md) {
      position: unset;
      height: 100%;
      justify-self: start;
      padding-inline: $m-md;
      
      &.-primary, &.-secondary, &.-tertiary {
        background-color: unset;
      }
    }

    .image {
      position: absolute;
      height: 250px;
      max-height: 500px;
      width: auto;
      right: 0;
      bottom: 0;

      @include media-breakpoint-up(md) {
        height: 500px;
      }

      &.-placeholder {
          right: -30px;
          bottom: 15px;
      }
    }

    &-socials {
      z-index: 1;
      position: absolute;
      top: -60px;
      left: $m-base;
      display: flex;
      gap: $m-xs;

      @include media-breakpoint-up(md) {
        position: unset;
      }
    }

    &-link {
      .lecture-details__speaker-twitter {
        path {
          stroke: $color-dark;
        
          &:nth-last-of-type(1) {
            fill: $color-dark;
          }
        }
      }

      .lecture-details__speaker-linkedin {
        path {
          stroke: $color-dark;
  
          &:nth-last-of-type(2) {
            fill: $color-dark;
          }
        }
      }

      .lecture-details__speaker-linktr {
        path {
          &:first-of-type {
            stroke: $color-dark;
          }
          
          &:last-of-type {
            fill: $color-dark;
          }
        }
      }

      @include media-breakpoint-up(md) {
        .lecture-details__speaker-twitter {
          path {
            stroke: rgba($color-dark, 0.8);
          
            &:nth-last-of-type(1) {
              fill: rgba($color-dark, 0.8);
            }
          }
        }
  
        .lecture-details__speaker-linkedin {
          path {
            stroke: rgba($color-dark, 0.8);
    
            &:nth-last-of-type(2) {
              fill: rgba($color-dark, 0.8);
            }
          }
        }
  
        .lecture-details__speaker-linktr {
          path {
            &:first-of-type {
              stroke: rgba($color-dark, 0.8);
            }
            
            &:last-of-type {
              fill: rgba($color-dark, 0.8);
            }
          }
        }
      }
    }

    &-info {
      position: absolute;
      inset: auto 0 0;
      background: linear-gradient(360deg, rgba(25, 69, 80, 0.8) 0%, rgba(25, 69, 80, 0) 100%);
      padding: $m-base;
      color: $color-white;
      letter-spacing: 0.75px;
      font-weight: $font-weight-extra-bold;
      display: flex;
      flex-direction: column;
      gap: $m-xs;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    
    &-name {
      font-family: $font-family-header;
      font-size: $font-size-xl;
    }
    
    &-position {
      font-family: $font-family-body;
      font-size: $font-size-base;

      @include media-breakpoint-up(md) {
        margin-bottom: $m-sm;
      }
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $m-xs;
    padding-bottom: $m-xs;
    gap: $m-xs;
    
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 0;
      flex-direction: row;
      gap: 0;
      background-color: rgba($color-background, 0.9);
    }
  }

  &__prev, &__next {
    background: none;
    border: none;
    width: calc(100% - $m-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $m-base;
    cursor: pointer;
    box-sizing: border-box;
    padding: $m-xs 0;

    &-text {
      width: fit-content;
      text-align: left;
      position: relative;
    }

    .-left {
      position: absolute;
      top: 50%;
      left: -$m-lg;
      transform: translateY(-50%);
    }
    
    .-right {
      position: absolute;
      top: 50%;
      right: -$m-lg;
      transform: translateY(-50%) rotateZ(180deg);
    }
    
    &-direction {
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
      color: rgba($color-dark, 0.7);
      
      &::after {
        content: '\a';
        white-space: pre;
      }
    }
    
    &-name {
      font-family: $font-family-header;
      font-size: $font-size-base;
      font-weight: $font-weight-extra-bold;
      color: $color-dark;
    }
  }

  &__prev {
    border: 1px solid $color-dark;
    border-right: none;
    
    @include media-breakpoint-up(md) {
      border: 1px solid $color-dark;
      border-left: none;
      justify-content: start;
      padding-left: $m-xl;
      margin-left: $m-sm;
    }
  }
  
  &__next {
    border: 1px solid $color-dark;
    border-left: none;
    
    @include media-breakpoint-up(md) {
      border-right: none;
      justify-content: end;
      padding-right: $m-xl;
      margin-right: $m-sm;
    }
  }
}
