.partners {
  background-color: $color-dark;
  color: $color-white;
  font-family: $font-family-body;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: $m-base 0 $m-xl;
  }

  &__header {
    font-size: $font-size-xl;
    font-weight: $font-weight-semi-bold;
    text-align: center;
  }

  &__logos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: $m-lg;
    row-gap: $m-base;

    @media only screen and (min-width: map-get($grid-breakpoints, xl)) {
      margin-inline: auto;
      width: 1200px;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    &-image {
      width: 200px;
      height: 100%;
      object-fit: contain;
    }

    &-image-wrapper {
      aspect-ratio: 16 / 9;
    }

    @media only screen and (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, lg)) {
      width: 50%;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    &__inner {
      padding: $m-base 0 $m-2xl;
    }

    &__header {
      font-size: $font-size-3xl;
      font-weight: $font-weight-medium;
    }

    &__logos {
      margin-top: $m-base;
      row-gap: $m-lg;
    }

    &__link {
      width: 25%;
    }
  }
}
