.partners {
  background-color: $color-text;
  color: $color-white;
  font-family: $font-face-body;

  &__inner {
    padding: $m-xl 0;
  }

  &__header {
    font-size: $font-size-xl;
    font-weight: $font-weight-semi-bold;
    margin-bottom: $m-xl;
    text-align: center;
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: center;

    &-image {
      width: 100%;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    &__inner {
      padding-bottom: $m-2xl;
    }

    &__header {
      font-size: $font-size-2xl;
      margin-bottom: $m-2xl;
    }
  }
}
