.partners {
  background-color: $color-text;
  color: $color-white;
  font-family: $font-face-body;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: $m-xl 0;
  }

  &__header {
    font-size: $font-size-xl;
    font-weight: $font-weight-semi-bold;
    margin-bottom: $m-xl;
    text-align: center;
  }

  &__logos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: $m-xl;
    
    @media only screen and (min-width: map-get($grid-breakpoints, xl)) {
      margin-inline: auto;
      width: 1200px;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    &-image {
      width: 200px;
    }

    @media only screen and (min-width: map-get($grid-breakpoints, sm))  and (max-width: map-get($grid-breakpoints, lg)) {
      width: 50%;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    &__inner {
      padding-bottom: $m-2xl;
    }

    &__header {
      font-size: $font-size-2xl;
      margin-bottom: $m-2xl;
    }

    &__link {
      width: 25%;
    }
  }
}
