[data-reach-dialog-overlay] {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-reach-dialog-content] {
    margin: 0 !important;
    width: 600px !important;
    padding: 0px 0px $m-lg !important;

    max-width: 90%;
    border-radius: $border-radius-base;
    box-sizing: border-box;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 24px;

    .speaker-details {
        &__header {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $m-base;

            .image {
                width: $card-width;
                max-width: 100%;
                min-height: calc(#{$card-height / 1.35} / 1.35);
                max-height: calc(#{$card-height / 1.35} / 1.35);

                border-radius: $border-radius-base 0px 0px 0px;

                object-fit: cover;
                object-position: center;

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                &--empty {
                    width: $card-width;
                    border-radius: $border-radius-base 0px 0px 0px;
                    min-height: calc(#{$card-height / 1.35} / 1.35);
                    background-color: rgba($color-primary, 0.75);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-white;
                }
            }

            .header-text {
                flex: auto;
                padding: $m-lg 0px 0px $m-base;

                .first-name,
                .second-name {
                    font-size: $font-size-2xl;
                    font-weight: $font-weight-bold;
                }
                .first-name {
                    color: $color-primary;
                }
                .second-name {
                    color: $color-secondary;
                    margin-bottom: $m-xs;
                }

                .title {
                    color: $color-primary;
                    font-weight: $font-weight-light;
                    font-size: $font-size-base;
                }
            }
        }

        .body-text {
            padding: 0px $m-base;

            border-radius: $border-radius-xs;
            overflow: auto;
            max-height: 35vh;
            background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
                linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
                radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
                radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
            background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
                linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
                radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
                radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
            background-repeat: no-repeat;
            background-color: white;
            background-size: 100% 50px, 100% 50px, 100% 30px, 100% 30px;
            background-attachment: local, local, scroll, scroll;

            p {
                color: $color-primary;
                font-weight: $font-weight-light;
                letter-spacing: 0.75px;
                line-height: $line-height-base;
                margin: 0px;
            }
        }

        @include media-breakpoint-down(sm) {
            &__header {
                .image,
                .image--empty {
                    width: 100%;
                    margin: 0px auto $m-base;

                    border-radius: $border-radius-base $border-radius-base 0px 0px;
                }

                .header-text {
                    padding: 0px $m-base;
                }

                .header-text {
                    flex-basis: 100%;
                }
            }
        }
    }
}
