[data-reach-dialog-overlay] {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-reach-dialog-content] {
    margin: 0 !important;
    padding: 0px 0px $m-xs !important;

    max-height: 75vh;
    max-width: 90%;
    border-radius: $border-radius-xs;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;

    position: relative;

    &::before{
        content: '✖';
        position: absolute;

        right: $m-xs;
        top: $m-xs;

        font-size: 2em;
        color: $color-text;
    }

    .speaker-details {
        &__header {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $m-base;

            .image {
                width: 100%;
                max-width: 100%;
                min-height: calc($card-height / 1.35);
                max-height: calc($card-height / 1.35);
                margin: 0px auto $m-base;

                border-radius: $border-radius-xs 0px 0px 0px;

                object-fit: cover;
                object-position: center;

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: $border-radius-xs $border-radius-xs 0px 0px;

                card__content &-empty {
                    width: 100%;
                    border-radius: $border-radius-xs $border-radius-xs 0px 0px;
                    background-color: rgba($color-primary, 0.75);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-white;
                }
            }
        }

        &__header-text {
            padding: 0px $m-base;
        }

        &__first-name,
        &__second-name {
            font-size: $font-size-2xl;
            font-weight: $font-weight-bold;
        }
        &__first-name {
            color: $color-primary;
        }
        &__second-name {
            color: $color-secondary;
            margin-bottom: $m-xs;
        }

        &__position,
        &__title {
            color: $color-primary;
            font-weight: $font-weight-light;
            font-size: $font-size-base;
        }

        &__position {
            margin-bottom: $m-xs;
        }

        &__body-text {
            padding: 0px $m-base;

            border-radius: $border-radius-xs;
            overflow: auto;
            max-height: 30vh;
            background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
                linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
                radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
                radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
            background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
                linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
                radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
                radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
            background-repeat: no-repeat;
            background-color: white;
            background-size: 100% 50px, 100% 50px, 100% 30px, 100% 30px;
            background-attachment: local, local, scroll, scroll;

            p {
                color: $color-primary;
                font-weight: $font-weight-light;
                letter-spacing: 0.75px;
                line-height: $line-height-md;
                margin: 0px;
            }
        }

        @include media-breakpoint-up(md) {
            &__header {
                .image,
                .image-empty {
                    width: $card-width * 1.25;
                    margin: 0px;

                    border-radius: $border-radius-xs 0px 0px 0px;
                }
            }
            &__header-text {
                padding: $m-base 0px 0px $m-base;
                flex-basis: 40%;

                display: flex;
                flex-direction: column;
            }

            &__title {
                margin: auto 0px $m-xs;
            }
        }
    }

    &.-medium {
        width: 700px !important;
    }
    
    &.-large {
        bottom: 5%;
        padding: $m-base !important;
        position: absolute;
        overflow: auto;
        width: 90% !important;
    }

    .footer__modal {
        &-header {
            text-align: center;
        }
    }
}
