.schedule {

    // Desktop styling
    
    &-desktop {
        align-items: center;
        display: none;
        flex-direction: column;
        justify-content: center;
        margin-top: $m-xl;
    
        &__header {
            color: $color-dark;
            text-align: center;
        }
        
        &__grid {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 150px repeat(13, 1fr);
            grid-template-rows: 100px repeat(10, 80px);
            max-width: 95%;
            
            &-hours {
                display: flex;
                grid-column: 2/15;
                grid-row: 1;
            }

            &-hour {
                align-items: end;
                display: flex;
                flex: 1 1;
                font-family: $font-family-header;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                justify-content: center;
                margin-bottom: $m-sm;

                @media only screen and (max-width: map-get($grid-breakpoints, xl)) {
                    font-size: $font-size-base;
                }
            }
            
            &-days {
                background: #FCCC3E;
                display: flex;
                flex-direction: column;
                grid-column: 1;
                grid-row: 2/12;
                position: relative;
                
                &::before {
                    content: '';
                    background: #FCCC3E;
                    width: 100%;
                    position: absolute;
                    height: 1%;
                    top: -1%;
                }
                
                &::after {
                    content: '';
                    background: #FCCC3E;
                    width: 100%;
                    position: absolute;
                    height: 1%;
                    bottom: -1%;
                }

            }
            
            &-date {
                flex: 1 1;
                font-family: $font-family-header;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                padding: $m-xs 0 0 $m-sm;
                position: relative;
                
                &-day {
                    font-family: $font-family-header;
                    font-weight: $font-weight-medium;
                    font-size: $font-size-base-xs;
                }
                
                &::before {
                    @include dashedBorder(false, top, $color-black);
                    
                    content: '';
                    height: 1px;
                    position: absolute;
                    top: 0;
                    width: 90%;
                }
                
                &::after {
                    background-color: $color-background;
                    bottom: 0;
                    content: '';
                    height: $m-xs;
                    position: absolute;
                    right: 0;
                    width: 90%;
                }
                
                &:last-of-type {
                    &::after {
                        background-color: #FCCC3E;
                        @include dashedBorder(false, bottom, $color-black);
                    }
                }
            }

            &-events {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
                margin-bottom: $m-xs;
                
                &-event {
                    align-content: center;
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    gap: $m-sm;
                    height: 100%;
                    justify-content: center;
                    margin-left: $m-xs;
                    z-index: 1;

                    &-title {
                        color: $color-white;
                        font-weight: $font-weight-bold;
                        font-size: $font-size-sm;
                        text-align: center;
                    }
                    
                    &-logo {
                        max-height: 70%;
                        max-width: 80%;
                    }
                }
            }
            
            &-placeholder {
                @include dashedBorder(true, top, $color-black);

                position: relative;
                
                &.-no-left-line {
                    @include dashedBorder(false, top, $color-black);
                }

                &:nth-last-child(10n+1) {
                    &::after {
                        @include dashedBorder(false, bottom, $color-black);

                        bottom: 0;
                        content: '';
                        height: 1px;
                        position: absolute;
                        width: 100%;
                    }
                }
            }
        }
    }

    // Mobile styling
    
    &-mobile {  
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: $m-lg;

        &__header {
            color: $color-dark;
            text-align: center;
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
        }
        
        &__grid {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 72px 1fr;
            grid-template-rows: auto;
            margin-top: $m-lg;
            width: 100%;
            
            &-date {
                background: #FCCC3E;
                flex: 1 1;
                font-family: $font-family-header;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                grid-column: 1;
                padding: $m-xs 0 0 $m-sm;
                position: relative;
                
                &-day {
                    font-family: $font-family-header;
                    font-weight: $font-weight-medium;
                    font-size: $font-size-base-xs;
                }

                &:nth-child(1) {
                    ::before {
                        background-color: #FCCC3E;
                        content: '';
                        height: $m-xs;
                        left: 0;
                        position: absolute;
                        top: -$m-xs;
                        width: 100%;
                    }
                }

                &::before {
                    @include dashedBorder(false, bottom, $color-black);
                    
                    content: '';
                    height: 1px;
                    position: absolute;
                    top: 0;
                    width: 90%;
                }

                &::after {
                    background-color: $color-background;
                    bottom: 0;
                    content: '';
                    height: $m-xs;
                    position: absolute;
                    width: 90%;
                }

                &:nth-child(10) {
                    &::after {
                        display: none;
                    }
                }
            }

            &-events {
                margin: 0 0 $m-base $m-xs;
                grid-column: 2
            }
            
            &-event {
                @include dashedBorder(false, bottom, $color-background);

                align-items: center;
                display: flex;
                justify-content: space-between;
                height: 48px;
                padding: 0 $m-sm;

                &-title {
                    color: $color-white;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-sm;
                }
                
                &-hours {
                    color: $color-white;
                    font-weight: $font-weight-semi-bold;
                    font-size: $font-size-sm;
                }

                &:last-of-type {
                    background-image: none;
                }
            }
            
            &-placeholder {
                @include dashedBorder(false, top, $color-black);
            }
        }
    }

    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        &-mobile {
            display: none;
        }

        &-desktop {
            display: flex;
        }
    }
}


// Calendar styling

.calendar {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: $m-lg;
        
    &__button {
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        gap: $m-sm;
        justify-content: center;
        outline: none;
        position: relative;
        width: 100%;
        
        &-text {
            color: $color-black;
            font-weight: $font-weight-bold;
            font-size: $font-size-base;
        }
        
        &:after {
            @include dashedBorder(false, bottom, $color-black);
            
            bottom: -$m-xs;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    &__icon-rotated {
        transform: rotateZ(180deg);
    }
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 40px);
        margin-top: $m-sm;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s $transition-function;
        
        &-day {
            align-items: center;
            display: flex;
            font-weight: $font-weight-bold;
            font-size: $font-size-base;
            justify-content: center;
        }
        
        &-date {
            align-items: center;
            display: flex;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-base;
            justify-content: center;
            margin: 4px 0;
            opacity: 0.4;
            
            &.-first {
                grid-column: 4;
            }
            
            &.-coloured {
                background-color: #fece3e;
                opacity: 1;
            }
        }

        &.-open {
            max-height: 300px;
        }
    }
}

