.signup {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  scroll-margin-top: $scroll-margin-base;
  
  @include media-breakpoint-up(xl) {
    background-color: $color-primary;
    flex-direction: row;
    padding-bottom: $m-sm;
  }

  &__banner {
    align-items: center;
    background-color: $color-primary;
    background-position: 15%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 80px;
    height: 200px;
    justify-content: center;
    width: 100%;
    position: relative;

    &:before {
      background-color: $color-white;
      content: "";
      height: 32px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      width: 2px;
    }

    @include media-breakpoint-between(md, lg) {
      background-position: 0;

      &:before {
        height: $m-sm;
      }

      &:after {
        background-color: $color-white;
        content: "";
        height: $m-sm;
        left: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: 2px;
        z-index: $z-lower;
      }
    }

    &:hover {
      .signup__banner-icon {
        &.-desktop {
          transform: translateX(0);
        }
      }
    }

    @include media-breakpoint-up(md) {
      height: 160px;
    }

    @include media-breakpoint-up(xl) {
      height: 360px;
      max-width: 25%;
      background-color: $color-dark;
      background-image: none !important;

      &::before {
        @include dashedBorder(false, top, $color-white);

        background-color: transparent;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        top: 1px;
        width: 100%;
      }
    }
    
    &-inner {
      display: flex;
      flex-direction: column;
      gap: $m-xl;
      overflow: hidden;
    }
    
    &-title {
      color: $color-white;
      font-family: $font-family-header;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;

      @include media-breakpoint-up(xl) {
        font-size: $font-size-2xl;

        &.-first-line {
          &::after {
            content: '\a';
            white-space: pre;
          }
        }
      }
    }
    
    &-icon {
      z-index: 2;

      &.-desktop {
        display: none;
        transform: translate(-70%);
        transition: transform .4s ease-in-out;
      }

      &.-mobile {
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translate(-50%) rotate(90deg);
      }

      @include media-breakpoint-up(md) {
        &.-mobile {
          display: none;
        }
      }

      @include media-breakpoint-up(xl) {
        &.-desktop {
          display: block;
        }
      }
    }
  }

  &__wrapper {
    background-position: 45% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    
    @include media-breakpoint-up(md) {
      background-position: 70% 60%;
      flex-direction: row;
      max-width: unset;
    }

    @include media-breakpoint-up(xl) {
      width: unset;
    }
  }
  
  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 80px;
    height: 260px;
    justify-content: center;
    position: relative;
    width: 100%;

    @include media-breakpoint-down(lg) {    
      &:not(:first-child) {
        .signup__section-inner {
          @include dashedBorder(true, left, $color-white, false);
        }
      }
    }

    @include media-breakpoint-down(sm) {    
      &:not(:first-child) {
        .signup__section-inner {
          @include dashedBorder(false, top, $color-white);
        }
      }
    }
    
    @include media-breakpoint-up(md) {    
      height: 360px;
    }

    @include media-breakpoint-up(xl) {
      &:nth-of-type(1) {
        .signup__section-inner {
          @include dashedBorder(false, top, $color-white);
        }
      }
    }
    
    &-inner {
      background-image: unset;
      align-items: center;
      background-color: rgba($color-dark, 0.8);
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      z-index: 1;
      
      &:hover {
        background-color: unset;
      }

      @include media-breakpoint-up(xl) {
        @include dashedBorder(true, top, $color-white);
        background-color: rgba($color-dark, 0.4);
      }
    }

    &-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 233px;
      justify-content: space-evenly;

      @include media-breakpoint-up(md) {
        justify-content: space-between;
      }
    }

    &-text {
      color: $color-white;
      display: flex;
      flex-direction: column;
      gap: $m-sm;
      text-align: center;
      
      @include media-breakpoint-up(md) {
        max-width: 200px;
      }
    }

    &-title {
      font-family: $font-family-header;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;

      &.-link {
        color: white;
      }
    }
    
    &-subtitle {
      font-family: $font-family-header;
      font-size: $font-size-base-xs;
      font-weight: $font-weight-semi-bold;
      opacity: .8;
    }

    &-button {
      background-color: $color-secondary;
      border-radius: $border-radius-xs;
      color: $color-text;
      cursor: pointer;
      font-family: $font-family-header;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
      padding: $m-sm;
      text-decoration: none;
      transition: box-shadow $transition-function .2s;
  
      &:hover {
        box-shadow: 0 0 8px $color-secondary;
      }
  
      &:active {
        background-color: $color-active;
      }

      &.-disabled {
        cursor: not-allowed;
        opacity: .8;
      }
    }
  }
}
