$card-width: 18em;
$card-height: $card-width * 1.6;
$card-margin: 0.6em;
$how-many-cards: 4;

.speakers {
    &__inner {
        padding: 0px $m-base $m-lg;
    }

    &__header {
        margin: $m-2xl 0px $m-xl;
        text-align: center;
        text-shadow: 0px 0px 95.0668px rgba(0, 0, 0, 0.5);
    }

    &__title {
        margin-bottom: $m-xs;
        font-weight: $font-weight-bold;
        line-height: $line-height-base;
        font-size: 30px;
        color: $color-dark;
    }

    &__subtitle {
        margin: 0px;
        font-size: 22px;
        color: $color-dark;
        font-weight: $font-weight-regular;
    }

    &__spacer {
        position: relative;
        margin-bottom: $m-xl;
        height: 2px;

        &::before {
            @include dashedBorder(false, top, $color-black);

            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &.-down {
            margin-top: $m-xl;
            margin-bottom: 0px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: $card-margin * 2;

        width: 100%;
        max-width: $card-margin + ($card-width * $how-many-cards) + (($card-margin * 2) * $how-many-cards);
        margin: auto;
    }
}
