.videos {
  max-width: 1280px;
  margin: 0 auto;

  &__subtitle {
    margin: 0;
    padding: 75px 20px 45px;
    text-align: center;
    font-family: $font-family-header;
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
    line-height: $line-height-md;
    color: $color-dark;
  }

  &__controler {
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  &__video {
    width: 300px;
    height: 450px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    &-img {
      width: 300px;
      height: 170px;
      object-fit: cover;
      object-position: center;
    }

    &-button {
      position: relative;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 10px 20px;
      background-color: $color-secondary;
      border: none;
      cursor: pointer;
      color: $color-dark;
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: #fdc92d;
        box-shadow: 0 0 5px #fdc92d;
      }
    }

    &-subtitle {
      height: 100%;
      padding: 0 8px 16px;
      margin: 0;
      text-align: center;
      color: $color-text;
      font-family: $font-family-body;
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
    }
    &-controler {
      background-color: red;
    }
  }
}
