.videos{
    background-color: red;

    &__controler {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        
        justify-content: center;  
        
        &-video {
        }
    }
}