{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  {
    "parser": "scss",
    "overrides": [
      {
        "files": "*.tsx",
        "parser": "flow"
      }
    ]
  },
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all"
}
