@mixin dashedBorder($left: true, $position: top, $color: $color-black, $top: true) {
  @if $top {
    @if $left {
      background-image: linear-gradient(to right, $color 33%, rgba(255, 255, 255, 0) 0%),
      linear-gradient($color 33%, rgba(255, 255, 255, 0) 0%);
      background-position: top, left;
      background-repeat: repeat-x, repeat-y;
      background-size: 13px 1px, 1px 13px;
  } @else {
      background-image: linear-gradient(to right, $color 33%, rgba(255, 255, 255, 0) 0%);
      background-position: $position;
      background-repeat: repeat-x;
      background-size: 13px 1px;
    }
  } @else {
    @if $left {
      background-image: linear-gradient(to right, $color 33%, rgba(255, 255, 255, 0) 0%),
      linear-gradient($color 33%, rgba(255, 255, 255, 0) 0%);
      background-position: top, left;
      background-repeat: repeat-x, repeat-y;
      background-size: 0, 1px 13px;
    } else {
      @content
    }
  }
}

@mixin maxTextLines($how-many-lines) {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    line-clamp: $how-many-lines;
    -webkit-line-clamp: $how-many-lines; 
}

@mixin special-button {
  border-radius: $border-radius-xs;
  color: $color-white;
  border: 2px solid $color-white;
  cursor: pointer;
  font-family: $font-family-body;
  font-size: $font-size-base-xs;
  font-weight: $font-weight-bold;
  padding: 12px $m-base;
  text-decoration: none;
  transition: all $transition-function .2s;

  &:hover {
    border-color: $color-secondary;
    color: $color-secondary;
  }

  &:active {
    background-color: $color-secondary;
    color: $color-primary;
  }

  &.-disabled {
    cursor: not-allowed;
    opacity: .8;
  }
}
