@mixin dashedBorder($left: true, $position: top, $color: $color-black) {
    @if $left {
        background-image: linear-gradient(to right, $color 33%, rgba(255, 255, 255, 0) 0%),
            linear-gradient($color 33%, rgba(255, 255, 255, 0) 0%);
        background-position: top, left;
        background-repeat: repeat-x, repeat-y;
        background-size: 13px 1px, 1px 13px;
    } @else {
        background-image: linear-gradient(to right, $color 33%, rgba(255, 255, 255, 0) 0%);
        background-position: $position;
        background-repeat: repeat-x;
        background-size: 13px 1px;
    }
}

@mixin maxTextLines($how-many-lines) {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    line-clamp: $how-many-lines;
    -webkit-line-clamp: $how-many-lines; 
}
