@function rem($size) {
  @return calc($size / 16px) * 1rem;
}

//----- fonts sizes and line-heights -----------------------------------------------------------------------------------
$font-size-xs: rem(12px);
$font-size-sm: rem(14px);
$font-size-base: rem(18px);
$font-size-base-xs: rem(16px);
$font-size-lg: rem(22px);
$font-size-xl: rem(28px);
$font-size-2xl: rem(40px);
$font-size-3xl: rem(48px);
$font-size-4xl: rem(72px);

//----- spacings (margins/paddings) ------------------------------------------------------------------------------------
$m-xs: rem(8px);
$m-sm: $m-xs * 2;
$m-base: $m-xs * 3;
$m-md: $m-xs * 4;
$m-lg: $m-base * 2;
$m-xl: $m-base * 3;
$m-2xl: $m-base * 4;

//----- line heights ---------------------------------------------------------------------------------------------------
$line-height-sm: $m-sm;
$line-height-md: $m-xs * 3.5;
$line-height-base: $m-xs * 5;
$line-height-lg: $m-lg;
$line-height-2xl: $m-xs * 7;
$line-height-3xl: $m-xl;

//----- border radiuses ------------------------------------------------------------------------------------------------
$border-radius-xxs: rem(2px); 
$border-radius-xs: $border-radius-xxs * 2;
$border-radius-base: $m-base;
$border-radius-sm: $m-xs;
$border-radius-lg: $m-lg;

//----- breakpoints ----------------------------------------------------------------------------------------------------
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, 2xl: 1600px);
$grid-columns: 12;
$grid-gutter-width: $m-base;
$container: map-get($grid-breakpoints, xl);

//----- colors ---------------------------------------------------------------------------------------------------------
$color-primary: #359960;
$color-secondary: #FECE3E;
$color-dark: #194550;
$color-text: #212C04;
$color-active: #CFA832;
$color-success: #48BD66;
$color-warning: #FFD200;
$color-danger: #E62A2A;
$color-info: #5BC0DE;
$color-white: #FFFFFF;
$color-black: #04080C;
$color-background: #F3F3F3;
$color-link: #551A8B;
$color-neutral-300: hsl(36deg 5% 85%);
$color-neutral-400: hsl(36deg 5% 75%);
$color-neutral-500: hsl(36deg 5% 62%);
$color-neutral-600: hsl(36deg 5% 38%);
$color-neutral-700: hsl(36deg 5% 28%);

//----- fonts ----------------------------------------------------------------------------------------------------------
$font-face-header: "Montserrat";
$font-face-body: "Manrope";
$font-family-header: $font-face-header, sans-serif;
$font-family-body: $font-face-body, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$icon-size: $m-base;

//----- transitions ----------------------------------------------------------------------------------------------------
$transition-duration: .3s;
$transition-function: ease-in-out;

//----- z-indexes ------------------------------------------------------------------------------------------------------
$z-negative: -1;
$z-lower: 30;
$z-low: 40;
$z-base: 50;
$z-high: 60;
$z-higher: 70;

//----- icon sizes ------------------------------------------------------------------------------------------------------
$icon-size-xs: rem(20px);
$icon-size-sm: rem(30px);
$icon-size-base: rem(50px);
$icon-size-lg: rem(60px);
$icon-size-xl: rem(80px);

//----- scroll margins ------------------------------------------------------------------------------------------------------
$scroll-margin-sm: 28px;
$scroll-margin-base: 112px;
